{% extends "layout.html" %}

{% block main_container %}
<h1>Welcome Goal Miners</h1>
      
      <form action = "http://127.0.0.1:33507/results" method = post>
        <P>

<TABLE BORDER>

<TR ALIGN=CENTER>
<TD WIDTH=75> </TD>
<TD WIDTH=75><B>Strongly<br>agree</B></TD>
<TD WIDTH=75><B>Agree</B></TD>
<TD WIDTH=75><B>Neither<br>agree<br>nor<br>disagree</B></TD>
<TD WIDTH=75><B>Disagree</B></TD>
<TD WIDTH=75><B>Strongly<br>disagree</B></TD>
</TR>
				  {% for i in form %}
				    <TR ALIGN=CENTER>
                      <TD  ALIGN=LEFT>{{ i.label }}</TD>
                      {% for x in i.values %}
                        <TD>{{ x }}</TD>
                      {% endfor %}
                    </TR>
			      {% endfor %}
</TABLE>
                

			   

      </form>
<H3>The following series of questions ask about your feelings
toward your work. Select the answer that is true most of the time.
</H3>


{% endblock %}
