<head>

</head>
<body>

	<!-- MAIN CONTAINER -->
	<div id="main_container">
	  <!-- PAGE CONTENT -->
      {% block main_container %}{% endblock %}
    </div>

    <!-- FOOTER -->
    <footer>
	  <a href="wtsq.org">Mined Minds</a>
    </footer>


</body>
